# Folders to ignore
node_modules/
dist/
build/
bin/
obj/
Antigravity/
.vs/
.idea/

# Files to ignore
.env
.env.*
*.log
*.exe
*.msi
*.zip
*.pdf
*.csv
*.sqlite3
*.db
*.user
*.suo

# Android & iOS specific
android/.gradle/
android/app/build/
ios/App/App/public/
ios/App/Pods/
local.properties
